
.background{
    background: rgba(0, 0, 0, 0.7) url('https://images.pexels.com/photos/618079/pexels-photo-618079.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-blend-mode:darken;
}

body {
  text-align: center;
  background-image: url("");
  background-size: cover;
}



.text-footer {
    text-align: center;
    padding: 15px 0;
   font-family: 'Ubuntu', sans-serif;
   display: flex;
   position: relative;
   justify-content: center;
   background-blend-mode:darken;
   color: white;
  }

